name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    uses: ConductorOne/github-workflows/.github/workflows/release.yaml@v2
    with:
      tag: ${{ github.ref_name }}
      lambda: true